######## Simple ReWrite users id by DJLEE ########
RewriteEngine on
# For subdir installs just change to RewriteBase /subdirectory
RewriteBase /
RewriteRule ^(.*).usr$ userdetails.php?username=$1
##################################################